html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  /* height: 100vh; */
  /* TODO: do I need to set height? */
  flex-direction: column;
  font-family: Roboto, Tahoma, sans-serif;
}

.header-and-hero { 
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  padding: 20px 160px 110px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  padding-bottom: 100px;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
}

.hero {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 20px;
  /* min-width: 300px; */
  /* border: 1px white solid; */
  
}

.header-and-hero .left {
  /* width: 50%; */
  /* min-width: 300px; */
  /* margin: 0; */
  padding: 10px;
  flex: 1;
}

.header-and-hero .right {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6D747D;
  /* padding: 95px 88px; */
  /* width: 50%; */
  font-weight: lighter;
  flex: 1;
  margin: 0;
}


.hero h1 {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
  margin: 0;
}

.hero p {
  font-size: 18px;
  color: #E5E7EB;
  margin: 0;
}

ul {
  list-style: none;
  color: #E5E7EB;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 24px;
}

button {
  margin-top: 10px;
  padding: 8px 30px;
  background-color: #3882F6;
  color: white;
  border-radius: 8px;
  border: solid 1px #3882F6;
  font-size: large;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 20px 200px;
}

.info h2 {
  font-size: 37px;
  font-weight: 800;
  text-align: center;
  color: #1F2937;
  padding-bottom: 30px;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card p {
  max-width: 160px;
}

.image {
  width: 160px;
  height: 160px;
  border: solid 3px #3882F6;
  border-radius: 12px;
}

.testimonial {
  display: flex;
  flex-direction: column;
  padding: 20px 200px;
  background-color: #E5E7EB;
}

.testimonial-quote {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
  font-weight: 100;
}

.testimonial-person {
  font-weight: 700;
  font-size: 20px;
  margin-right: 60px;
  margin-left: auto;
}

.call-to-action {
  background-color: #3882F6;
  margin: 120px;
  padding: 50px 100px;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.call-to-action button {
  border: white 2px solid;
  font-size: medium;
}

.call-to-action .left {
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

.left .title {
  font-weight: 700;
  font-size: 22px;
  margin: 0;
  letter-spacing: 0.8px;;
}

.left .text {
  font-weight:lighter;
  margin: 0;
}

.footer {
  background-color: #1F2937;
  text-align: center;
  color: white;
  font-weight: 400;
  padding: 20px;
}