* {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
}

.header-and-hero {
  background-color: #1F2937;
}

.call-to-action {
  background-color: #3882F6;
}

.footer {
  background-color: #1F2937;
}