/* TODO: 1. part 1: two parts of the hero section do not scale well - when enlarging the window after a certain point, it stops to fill up the entire screen */

* {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
}

.header-and-hero {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  padding: 20px 60px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  width: 50%;
  min-width: 300px;
}

.right {
  background-color: #757575;
  padding: 50px;
  width: 50%;
  text-align: center;
}


.hero h1 {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
  margin: 0;
}

.hero p {
  font-size: 18px;
  color: #E5E7EB;
  margin: 0;
}



.call-to-action {
  background-color: #3882F6;
}

.footer {
  background-color: #1F2937;
}

ul {
  list-style: none;
  color: #E5E7EB;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 24px;
}

button {
  margin-top: 10px;
  padding: 10px 30px;
  background-color: #3882F6;
  color: white;
  border-radius: 8px;
  border: solid 1px #3882F6;

}